/* *
 *
 * @package   zixMobileNavi
 * @author   Hakan Havutcuoglu
 * @license   GNU
 * @copyright IXTENSA
 *
 * */


/* deactivate default navigation by loading pages */
#header .mod_navigation,
#header .mod_navigation{
	display:none;
}


$color1:		#ffffff; // White
$color2:		#434343; // Light-Grey
$color3:		#626262; // Grey
$color4:		#7c7c7c; // Darkgrey

$borderColor1:	1px solid $color1;
$borderColor2:	1px solid $color2;
$borderColor3:	1px solid $color3;
$borderColor4:	1px solid $color4;


/* *
 * NAVIGATION STYLES
 * */

#navi-mobile ul{
	margin:0;
	padding:0;
	background:$color1;
	
	&.level_1{
		
		a, span{
			color:$color1;
			display:block;
			background:$color2;
			border-bottom:$borderColor3;
		}
		
		span{
			background:$color2 url(../images/open.svg) no-repeat 220px center;
			background-size:15px 15px;
		}
		
		span.active{
			color:$color1;
			display:block;
			border-bottom:$borderColor3;
			background:$color2;
			opacity:0.9;
		}
		
		span.trail, .open > span{
			color:$color1;
			display:block;
			border-bottom:$borderColor3;
			background:$color2;
			background:$color2 url(../images/close.svg) no-repeat 220px center;
			background-size:15px 15px;
		}
		
		.last > a, .last > span{
			border-bottom:$borderColor3;
		}
		
		.last.open > span{
			border-bottom:$borderColor3;
		}
	}
	
	&.level_2{
		display:none;
		
		a, span{
			color:$color1;
			background: $color3;
			border-bottom:$borderColor2;
			text-transform:none;
		}
		
		span{
			background:$color3 url(../images/open.svg) no-repeat 220px center;
			background-size:15px 15px;
		}
		
		.active > span{
			color:$color1;
			background: $color3;
			border-bottom:$borderColor2;
			opacity:0.9;
		}
		
		span.trail, .open > span{
			color:$color1;
			background: $color3;
			border-bottom:$borderColor2;
			background:$color3 url(../images/close.svg) no-repeat 220px center;
			background-size:15px 15px;
		}
		
		.last > a, .last > span {
			border-bottom: $borderColor2;
		}
	}
	
	&.level_3{
		display:none;
		
		a, span, .open > span{
			padding-left:32px;
			color:$color1;
			background: $color4;
			border-bottom:$borderColor4;
		}
		
		.trail > a, .active > span, .open > span{
			color:$color1;
			border-bottom: $borderColor4;
			background: $color4 url(../images/selected.svg) no-repeat 10px center;
			background-size:15px 15px;
			opacity:1;
		}
		
		.last > a, .last > span {
			border-bottom: $borderColor4;
		}
	}
	
	li{
		display: block;
		background:none;
		padding:0;
		margin:0;
		line-height:normal;
		
		a, span{
			display:block;
			text-decoration:none;
			padding:14px 0 12px 12px;
			font-size:1em;
			text-transform:uppercase;
			border-bottom:$borderColor2;
		}
	}
}

/* Menu Appearance */

/* *
 * NAVIGATION PANEL
 * */
.mnav{
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: $color2;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.LeftPanel .mnav{
	left:0;
}

.RightPanel .mnav{
	right:0;
}

/* Menu Movement */

.LeftPanel .mnav-closed{
	-webkit-transform: translate3d(-250px,0,0);
	-moz-transform: translate3d(-250px,0,0);
	-ms-transform: translate3d(-250px,0,0);
	-o-transform: translate3d(-250px,0,0);
	transform: translate3d(-250px,0,0);
}

.RightPanel .mnav-closed{
	-webkit-transform: translate3d(250px,0,0);
	-moz-transform: translate3d(250px,0,0);
	-ms-transform: translate3d(250px,0,0);
	-o-transform: translate3d(250px,0,0);
	transform: translate3d(250px,0,0);
}

.LeftPanel .mnav-open{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.RightPanel .mnav-open{
	-webkit-transform: translate3d(250,0,0);
	-moz-transform: translate3d(250,0,0);
	-ms-transform: translate3d(250,0,0);
	-o-transform: translate3d(250,0,0);
	transform: translate3d(250,0,0);
}

.LeftPanel .wrapper-push, .pushed{
	-webkit-transform: translate3d(250px,0,0);
	-moz-transform: translate3d(250px,0,0);
	-ms-transform: translate3d(250px,0,0);
	-o-transform: translate3d(250px,0,0);
	transform: translate3d(250px,0,0);
	position:fixed;
}

.RightPanel .wrapper-push, .pushed{
	-webkit-transform: translate3d(-250px,0,0);
	-moz-transform: translate3d(-250px,0,0);
	-ms-transform: translate3d(-250px,0,0);
	-o-transform: translate3d(-250px,0,0);
	transform: translate3d(-250px,0,0);
	position:fixed;
	right:0;
}

/* Menu Transitions */

.mnav, #wrapper, .push{
	-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
	-moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
	-o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
	transition: transform .2s cubic-bezier(.16, .68, .43, .99);
	/* improves performance issues on mobile */
	/* -webkit-backface-visibility: hidden; */
	/* -webkit-perspective: 1000;*/
}

/* Site Overlay */

.site-overlay{
	opacity: 0;
}
.mnav-active .site-overlay{
	opacity: 1;
	transition:all 0.2s linear;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);	/* webkit browser*/
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);	/* firefox */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.LeftPanel.mnav-active .site-overlay{
	right: 0;
	left: 250px;
}
.RightPanel.mnav-active .site-overlay{
	right: 250px;
	left: 0;
}


/* menu button */
.mnavbar{
	background-size:65%;
	width:50px;
	height:40px;
	display: block;
	z-index: 999;
	opacity:1;
	top:10px;
	visibility:visible;
	position:absolute;
}

.navbar{
	background:#000;
	display:block;
	height:5px;
	width:100%;
	margin:3px 0 8px;
}

.LeftPanel .mnavbar{
	left:10px;
}

.RightPanel .mnavbar{
	right:10px;
}
