/* *
 *
 * @package   zixMobileNavi
 * @author   Hakan Havutcuoglu
 * @license   GNU
 * @copyright IXTENSA
 *
 * */

/* deactivate default navigation by loading pages */
#header .mod_navigation,
#header .mod_navigation{
	display:none;
}

/* *
 * NAVIGATION STYLES
 * */
#navi-mobile ul {
	margin: 0;
	padding: 0;
	background:#fff;
}
#navi-mobile ul.level_1 a, #navi-mobile ul.level_1 span {
	color: #fff;
	display: block;
	background: #434343;
	border-bottom: 1px solid #626262;
}
#navi-mobile ul.level_1 span {
	background: #434343 url(../images/open.svg) no-repeat 220px center;
	background-size: 15px 15px;
}
#navi-mobile ul.level_1 span.active {
	color: #fff;
	display: block;
	border-bottom: 1px solid #626262;
	background: #434343;
	opacity: 0.9;
}
#navi-mobile ul.level_1 span.trail, #navi-mobile ul.level_1 .open > span {
	color: #fff;
	display: block;
	border-bottom: 1px solid #626262;
	background: #434343;
	background: #434343 url(../images/close.svg) no-repeat 220px center;
	background-size: 15px 15px;
}
#navi-mobile ul.level_1 .last > a, #navi-mobile ul.level_1 .last > span {
	border-bottom: 1px solid #626262;
}
#navi-mobile ul.level_1 .last.open > span {
	border-bottom: 1px solid #626262;
}
#navi-mobile ul.level_2 {
    display: none;
}
#navi-mobile ul.level_2 a, #navi-mobile ul.level_2 span {
	color: #fff;
	background: #626262;
	border-bottom: 1px solid #434343;
	text-transform: none;
}
#navi-mobile ul.level_2 span {
	background: #626262 url(../images/open.svg) no-repeat 220px center;
	background-size: 15px 15px;
}
#navi-mobile ul.level_2 .active > span {
	color: #fff;
	background: #626262;
	border-bottom: 1px solid #434343;
	opacity: 0.9;
}
#navi-mobile ul.level_2 span.trail, #navi-mobile ul.level_2 .open > span {
	color: #fff;
	background: #626262;
	border-bottom: 1px solid #434343;
	background: #626262 url(../images/close.svg) no-repeat 220px center;
	background-size: 15px 15px;
}
#navi-mobile ul.level_2 .last > a, #navi-mobile ul.level_2 .last > span {
	border-bottom: 1px solid #434343;
}
#navi-mobile ul.level_3 {
	display: none;
}
#navi-mobile ul.level_3 a, #navi-mobile ul.level_3 span, #navi-mobile ul.level_3 .open > span {
	padding-left: 32px;
	color: #fff;
	background: #7c7c7c;
	border-bottom: 1px solid #7c7c7c;
}
#navi-mobile ul.level_3 .trail > a, #navi-mobile ul.level_3 .active > span, #navi-mobile ul.level_3 .open > span {
	color: #fff;
	border-bottom: 1px solid #7c7c7c;
	background: #7c7c7c url(../images/selected.svg) no-repeat 10px center;
	background-size: 15px 15px;
	opacity: 1;
}
#navi-mobile ul.level_3 .last > a, #navi-mobile ul.level_3 .last > span {
	border-bottom: 1px solid #7c7c7c;
}
#navi-mobile ul li {
	display: block;
	background: none;
	padding: 0;
	margin: 0;
	line-height: normal;
}
#navi-mobile ul li a, #navi-mobile ul li span {
	display: block;
	text-decoration: none;
	padding: 14px 0 12px 12px;
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid #434343;
}

/* Menu Appearance */

/* *
 * NAVIGATION PANEL
 * */
.mnav{
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #434343;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}
.LeftPanel .mnav{
	left:0;
}
.RightPanel .mnav{
	right:0;
}

/* Menu Movement */

.LeftPanel .mnav-closed{
	-webkit-transform: translate3d(-250px,0,0);
	-moz-transform: translate3d(-250px,0,0);
	-ms-transform: translate3d(-250px,0,0);
	-o-transform: translate3d(-250px,0,0);
	transform: translate3d(-250px,0,0);
}
.RightPanel .mnav-closed{
	-webkit-transform: translate3d(250px,0,0);
	-moz-transform: translate3d(250px,0,0);
	-ms-transform: translate3d(250px,0,0);
	-o-transform: translate3d(250px,0,0);
	transform: translate3d(250px,0,0);
}
.LeftPanel .mnav-open{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.RightPanel .mnav-open{
	-webkit-transform: translate3d(250,0,0);
	-moz-transform: translate3d(250,0,0);
	-ms-transform: translate3d(250,0,0);
	-o-transform: translate3d(250,0,0);
	transform: translate3d(250,0,0);
}
.LeftPanel .wrapper-push, .pushed{
	-webkit-transform: translate3d(250px,0,0);
	-moz-transform: translate3d(250px,0,0);
	-ms-transform: translate3d(250px,0,0);
	-o-transform: translate3d(250px,0,0);
	transform: translate3d(250px,0,0);
	position:fixed;
}
.RightPanel .wrapper-push, .pushed{
	-webkit-transform: translate3d(-250px,0,0);
	-moz-transform: translate3d(-250px,0,0);
	-ms-transform: translate3d(-250px,0,0);
	-o-transform: translate3d(-250px,0,0);
	transform: translate3d(-250px,0,0);
	position:fixed;
	right:0;
}

/* Menu Transitions */

.mnav, #wrapper, .push{
	-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
	-moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
	-o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
	transition: transform .2s cubic-bezier(.16, .68, .43, .99);
	/* improves performance issues on mobile */
	/* -webkit-backface-visibility: hidden; */
	/* -webkit-perspective: 1000;*/
}

/* Site Overlay */

.site-overlay{
	opacity: 0;
}
.mnav-active .site-overlay{
	opacity: 1;
	transition:all 0.2s linear;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);	/* webkit browser*/
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);	/* firefox */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.LeftPanel.mnav-active .site-overlay{
	right: 0;
	left: 250px;
}
.RightPanel.mnav-active .site-overlay{
	right: 250px;
	left: 0;
}


/* menu button */
.mnavbar{
	background-size:65%;
	width:50px;
	height:40px;
	display: block;
	z-index: 999;
	opacity:1;
	top:10px;
	visibility:visible;
	position:absolute;
}
.navbar{
	background:#000;
	display:block;
	height:5px;
	width:100%;
	margin:3px 0 8px;
}
.LeftPanel .mnavbar{
	left:10px;
}
.RightPanel .mnavbar{
	right:10px;
}
